/* common shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}



/* main */
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    padding: 20px 43px;
}



/* page one */
.page-one {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    padding: 50px 240px 0px 240px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.page-one-div {
    max-width: 800px;
}

.page-one-flower-picture {
    width: 635px;
    height: 800px;
}

.page-one-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.page-one-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/* page two */
/* bonus part */
.page-two {
    align-items: center;
    margin-bottom: 100px;
}
.infant-flower {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 190px;
}

.flower-1 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.image1 {
    width: 310px;
    height: 428px;
    padding-left: 95px;
    padding-bottom: 0;
    padding-top: 110px;
}

.flower-2 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.image2 {
    width: 370px;
    height: 370px;
    padding-left: 60px;
    padding-top: 140px;
}

.flower-3 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.image3 {
    width: 314px;
    height: 471px;
    flex-shrink: 0;
    padding-top: 65px;
}

.page-two-picture {
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    margin-bottom: 0px;
}

.caption1 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
}
.caption2 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 57px;
}

.page-two-div-two {
    align-items: center;
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    margin: 0 auto;
    justify-content: space-around;
}

.page-two-sub-div {
    padding: 86px 50px;
    align-items: center;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}



/* page three */
.page-three {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 50px 240px 0px 240px;
    margin-bottom: 100px;
}

.page-three-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.off {
    color: #E55473;
}

.page-three-div {
    text-align: center;
}

.page-three-description {
    width: 594px;
}



/* page four */
.page-four {

}
.page-four-pictures{
    justify-content: center;
}
.page-four-pictures {
    display: flex;
}


.page-four-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.page-four-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

.page-four-pic {
    border: 12px solid white;
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}




/* Get The Latest Deals */
.latest-deals-section {
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    text-align: center;
    padding-top: 122px;
    margin: 0 auto;
    margin-top: 100px;
}

.latest-deals-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.latest-deals-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.textarea {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border-color: white;
    padding-left: 22px;
}


/* footer */
.footer-section {
    background-color: black;
    padding: 128px;
}

.footer-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;

}

.flower-span {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.footer-rights {
    color: #FFFFFF66;
    text-align: center;
    font-size: 16px;
    padding-top: 32px;
}